<div class="jumbotron">
  <h1>About Us</h1>

  <section class="row">
    <div class="col-xs-5 col-xs-offset-1">
      We're so pleased to have you reading about us! Will this wrap? Wrap?
    </div>
    <div class"col-xs-5">
      Here is some more information about our fabulous site.
    </dic>
  </section>
</div>

<section class="row">
  <h1>Meet the Team</h1>
</section>

<section class="row text-center">
  <div class="col-xs-3">
    <img src="http://mjcdn.motherjones.com/preset_16/cat-glasses-hat.jpg"
         class="img-circle img-responsive">
   <h2>Wesley</h2>
   <p>nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
   </p>
  </div>
  <div class="col-xs-3">
    <img src="http://www.readingglassesetc.com/product_images/uploaded_images/tumblr-komtamvgna1qzvjtno1-500.jpg"
         class="img-circle img-responsive">
   <h2>Patricia</h2>
   <p>nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
   </p>
  </div>
  <div class="col-xs-3">
    <img src="http://allinonenews.files.wordpress.com/2012/08/cat-with-glasses.jpg"
         class="img-circle img-responsive">
   <h2>Waffles</h2>
   <p>nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
   </p>
  </div>
  <div class="col-xs-3">
    <img src="http://static.tumblr.com/hyrpiin/A7dmba3bv/animals_cats_cat_in_the_glasses_032992_.jpg"
         class="img-circle img-responsive">
   <h2>Formerly Known as Steve</h2>
   <p>nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
     nip nip nip nip nip nip nip nip nip nip nip nip
   </p>
  </div>
</section>

<!-- http://mjcdn.motherjones.com/preset_16/cat-glasses-hat.jpg
http://simplycatbreeds.org/images/cat-with-glasses.jpg
http://allinonenews.files.wordpress.com/2012/08/cat-with-glasses.jpg
http://static.tumblr.com/hyrpiin/A7dmba3bv/animals_cats_cat_in_the_glasses_032992_.jpg -->
